{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src=" {% static 'js/script.js' %}"></script>
  <script src="{% static 'js/htmx.js' %}"></script>
  <!-- <script src="https://unpkg.com/htmx.org"></script> -->
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
  <title>Chatter Room</title>
</head>

<body>
  {% if messages %}
  <div class="notification-box" role="alert">
    <strong>{% trans "Messages:" %}</strong>
    <ul>
      {% for message in messages %}<li>{{ message }}</li>{% endfor %}
    </ul>
  </div>
  {% endif %}
  <section>
    <div class="profile-box">
      <div class="chat-header">
        <h3>Chat</h3>
        <a class="chat-btn chat-add" title="Logout" href="{% url 'account_logout' %}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#571BE2">
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
          </svg>
        </a>
      </div>
      <div class="profile-details">
        <img src="{{avatar.avatar}}" alt="Profile Picture" class="profile-image">
        <h1>{{ user.username }}</h1>
        <form action="" method="get" class="search-input-form" id="search-form">
          <input type="text" id="username-input" name="username" placeholder="Create group or private chat"
            class="search-input">

          <!-- First button with a unique name -->
          <button title="Private Chat" type="submit" name="action" value="create_chat" class="chat-btn chat-add">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#571BE2">
              <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
            </svg>
          </button>

          <!-- Second button with a unique name -->
          <button title="Group Chat" type="submit" name="action" value="join_chat" class="chat-btn chat-add">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#571BE2">
              <path
                d="M500-482q29-32 44.5-73t15.5-85q0-44-15.5-85T500-798q60 8 100 53t40 105q0 60-40 105t-100 53Zm220 322v-120q0-36-16-68.5T662-406q51 18 94.5 46.5T800-280v120h-80Zm80-280v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80Zm-480-40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM0-160v-112q0-34 17.5-62.5T64-378q62-31 126-46.5T320-440q66 0 130 15.5T576-378q29 15 46.5 43.5T640-272v112H0Zm320-400q33 0 56.5-23.5T400-640q0-33-23.5-56.5T320-720q-33 0-56.5 23.5T240-640q0 33 23.5 56.5T320-560ZM80-240h480v-32q0-11-5.5-20T540-306q-54-27-109-40.5T320-360q-56 0-111 13.5T100-306q-9 5-14.5 14T80-272v32Zm240-400Zm0 400Z" />
            </svg>
          </button>
        </form>
      </div>
      <div class="chat-options">
        <p>Last Chats</p>
        <div class="chat-btns">
          <button class="chat-btn chat-add" title="Create Group">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#571BE2">
              <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg>
          </button>
          <button class="chat-btn chat-more">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#C1C7CF">
              <path
                d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" />
            </svg>
          </button>
        </div>
      </div>

      <div class="chat-list">
        <ul id="my-list">
          <li onclick="redirectToLink('/chat/room/Friends/')">
            <dix class="chat-person-info">
              <img src="https://i.pinimg.com/736x/07/48/31/07483148dbe35e84d0e4c8e6457a5001.jpg" alt="Tony Stark"
                class="chat-avatar">
              <div class="chat-details">
                <h3>For Everyone</h3>
                <p>{{ friendsGroup.body|default:"No messages yet"|slice:":30" }}{% if friendsGroup.body|length > 20%}...
                  {% endif %}</p>
              </div>
            </dix>
            <p class="time">{{friendsGroup.created|date:"h:i A"}}</p>
          </li>
          {% for chat in private_chats %}
          <li onclick="redirectToLink('/chat/room/{{chat.group_name}}')">
            <dix class="chat-person-info">
              <img src="{{chat.other_user_avatar}}" alt="Tony Stark" class="chat-avatar">
              <div class="chat-details">
                <h3>{{chat.other_user}}</h3>
                <p>{{ chat.last_message|default:"No messages yet"|slice:":30" }}{% if chat.last_message|length > 20%}...
                  {% endif %}</p>
              </div>
            </dix>
            <p class="time">{{chat.time|date:"h:i A"}}</p>
          </li>
          {% endfor %}

          {% for chat in all_group_chats %}
          <li onclick="redirectToLink('/chat/room/{{ chat.group_name }}')">
            <div class="chat-person-info">
              <img src="{{ chat.group_avatar }}" alt="Group Avatar" class="chat-avatar">
              <div class="chat-details">
                <h3>{{ chat.group_chat_name }}</h3>
                <p>
                  {{ chat.last_message|default:"No messages yet"|slice:":30" }}
                  {% if chat.last_message|length > 30 %}...{% endif %}
                </p>
              </div>
            </div>
            <p class="time">{{ chat.time|date:"h:i A" }}</p>
          </li>
          {% endfor %}

          <!-- Repeat other chat list items as needed -->
        </ul>
      </div>
    </div>

    <div class="chat-box">
      <!-- Chat Header -->
      <div class="chat-header">
        {% if group_chat.group_chat_name %}
        <h3>{{group_chat.group_chat_name}}</h3>
        {% elif other_user %}
        <h3>{{other_user.username}}</h3>
        {% else %}
        <h3>For Everyone</h3>
        {% endif %}
        <div class="chat-right-header">
          <h4 id="messages" onclick="hideParticipants();" class="selected">Messages</h4>
          <h4 id="participants" onclick="hideChat();">Participants</h4>
        </div>
      </div>

      <!-- Chat Section -->
      <div id="chat-section" class="chat-section">
        <ul id="chat_messages">
          {% for chat in chats reversed %}
          {% include 'rtchat/chat_message.html' %}
          {% endfor %}
        </ul>
      </div>
      <form id="chat-input" class="chat-input" hx-ext="ws" ws-connect="/chat/room/{{group_name}}/" ws-send
        _="on htmx:wsAfterSend reset() me">
        {% csrf_token %}
        {{ form.body }}
        <button>
          <svg width="16px" height="16px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
            <title>send</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Rounded" transform="translate(-374.000000, -1529.000000)">
                <g id="Content" transform="translate(100.000000, 1428.000000)">
                  <g id="-Round-/-Content-/-send" transform="translate(272.000000, 98.000000)">
                    <g>
                      <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                      <path
                        d="M3.4,20.4 L20.85,12.92 C21.66,12.57 21.66,11.43 20.85,11.08 L3.4,3.6 C2.74,3.31 2.01,3.8 2.01,4.51 L2,9.12 C2,9.62 2.37,10.05 2.87,10.11 L17,12 L2.87,13.88 C2.37,13.95 2,14.38 2,14.88 L2.01,19.49 C2.01,20.2 2.74,20.69 3.4,20.4 Z"
                        id="🔹Icon-Color" fill="#FFFFFF"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg></button>
      </form>

      <!-- Participant Section -->

      <div id="chat-participants" class="chat-participants hidden">
        <ul id="online_users">
        </ul>
      </div>
      {% if group_chat.admin.username == user.username %}
      <form id="participants-input" class="chat-input hidden"
        hx-post="{% url 'add-in-group' groupname=group_chat.group_name %}" hx-target="#online_users" hx-swap="innerHTML"
        _="on htmx:afterRequest reset() me">
        {% csrf_token %}
        <input type="text" placeholder="Enter Username to Add or Remove" name="user" id="user-input">

        <!-- First Button -->
        <button type="button" hx-post="{% url 'add-in-group' groupname=group_chat.group_name %}"
          hx-vals="{'user': document.getElementById('user-input').value}" hx-target="#online_users" hx-swap="innerHTML"
          _="on htmx:afterRequest reset() me">
          <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px">
            <path
              d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"
              fill="#FFFFFF" />
          </svg>
        </button>

        <!-- Second Button -->
        <button type="button" hx-post="{% url 'remove-in-group' groupname=group_chat.group_name %}"
          hx-vals="{'user': document.getElementById('user-input').value}" hx-target="#online_users" hx-swap="innerHTML"
          _="on htmx:afterRequest reset() me">
          <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed">
            <path
              d="M624-504v-72h240v72H624Zm-240 24q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42ZM96-192v-92q0-25.78 12.5-47.39T143-366q55-32 116-49t125-17q64 0 125 17t116 49q22 13 34.5 34.61T672-284v92H96Zm72-72h432v-20q0-6.47-3.03-11.76-3.02-5.3-7.97-8.24-47-27-99-41.5T384-360q-54 0-106 14.5T179-304q-4.95 2.94-7.98 8.24Q168-290.47 168-284v20Zm216.21-288Q414-552 435-573.21t21-51Q456-654 434.79-675t-51-21Q354-696 333-674.79t-21 51Q312-594 333.21-573t51 21Zm-.21-73Zm0 361Z" />
          </svg>
        </button>
      </form>


      {% endif %}
    </div>
  </section>
  <script>
    function scrollToBottom() {
      const container = document.getElementById('chat-section');
      container.scrollTop = container.scrollHeight;
    }
    scrollToBottom()
  </script>
  <script>
    document.getElementById('search-form').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      var username = document.getElementById('username-input').value; // Get the username value
      var action = event.submitter.value; // Get the value of the clicked button (either 'create_chat' or 'join_chat')

      if (username) {
        var url = '';

        // Perform different actions based on which button was clicked
        if (action === 'create_chat') {
          // Action for the first button
          url = '/chat/' + username + '/'; // Adjust the URL as needed
          console.log("Creating chat at URL:", url);
        } else if (action === 'join_chat') {
          // Action for the second button
          url = '/chat/group/' + username + '/'; // Adjust the URL as needed
          console.log("Joining chat at URL:", url);
        }

        window.location.href = url; // Redirect to the constructed URL
      } else {
        console.error("Username is required!");
      }
    });

    function redirectToLink(url) {
      window.location.href = url;
    }
  </script>

</body>

</html>